
 <div  class = "border bottom " style = "margin-bottom:16px; padding-bottom:8px"> 

   <h4
     style= "color:rgb(120,120,120); margin-bottom:4px;">  
     {{job['title']}} 
   </h4>



 <div>
   <b> Location: </b> {{job['location']}}
 </div>


 <div>
   <b> Salary: </b> {{job['salary']}}
 </div>

   <a href = "mailto:chhitizupadhyay@123gmail.com?subject=Application%20for%20{{job['title']}}&?body=My%20name%3A%20%3C%20type%20your%20name%20here%20%3E%0D%0A%0D%0AMy%20resume%20link%3A%20%3C%20resume%20link%20%3E%0D%0A%0D%0AMy%20linkedln%20link%3A%20%3C%20linkedln%20link%20%3E " type="button" class="btn btn-outline-primary">Apply
   </a>
 </div>

 